modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "myrun"
mode = "sequential"
author = 30376347

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
